body {
  background-image: url(../imgs/Background_img_Varolz.png);
  background-size: cover;
}

.navbar-item {
  color: white;
}

.title {
  color: white;
}

html {
  background-color: unset;
}

.navbar {
  background-color: unset;
}
.container {
  margin-top: 250px;
}