body {
  background-image: url(../imgs/Background_img_Varolz.png);
  background-size: cover;
}

.navbar-item {
  color: white;
}

.title {
  color: white;
}

html {
  background-color: unset;
}

.navbar {
  background-color: unset;
}
.input-group {
  margin-top: 250px;
  height: 70px;
}
.bi-search {
  color: white;
  padding: 50px;
}